/* --------------------新 --------------------*/
/* 1.页面 */
.otu-page {
	padding: 0 15px 25px;
}

/* 标题 */
.otu-page-header {
	line-height: 45px;
	font-family: "Helvetica Neue", Helvetica, "微软雅黑", "Microsoft YaHei",
		Arial, sans-serif;
	font-size: 15px;
}

/* --------------------旧 --------------------*/
/* 1.图标 */
/* 颜色 */
.glyphicons-white {
	color: white;
}

/* 尺寸 */
.c-icon-16 {
	display: inline-block;
	width: 16px;
	height: 16px;
	/* background-image */
	vertical-align: middle;
}

.c-icon-20 {
	display: inline-block;
	width: 20px;
	height: 20px;
	/* background-image */
	vertical-align: middle;
}

/* 静态 */
.c-icon-display {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(default/icons/20_20/display.png);
	background-repeat: no-repeat !important;
	background-position: 0 0 !important;
	vertical-align: middle;
}

.c-icon-correct {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(default/icons/16_16/correct.png);
	background-repeat: no-repeat !important;
	background-position: 0 0 !important;
	vertical-align: middle;
}

.c-icon-error {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(default/icons/16_16/error.png);
	background-repeat: no-repeat !important;
	background-position: 0 0 !important;
	vertical-align: middle;
}

/* 动态 */
.c-icon-a-waiting {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(default/icons/animation/waiting.gif);
	background-repeat: no-repeat !important;
	background-position: 0 0 !important;
	vertical-align: middle;
}

/* 2.模块页面 */

/* 页面 */
.c-page {
	padding: 10px 15px;
}

/* 顶部分割线 */
.c-page-header {
	margin-bottom: 10px;
	border-bottom: 1px solid #34495e;
	-webkit-box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	box-shadow: 0 1px 0 white;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=white, Direction=90,
		Strength=1)
}

/* 标题 */
.c-page-header h4 {
	display: inline-block;
	margin: 0; /* override */
	border-bottom: 3px solid #2c3e50;
	padding: 8px 0; /* override */
	font-family: "Helvetica Neue", Helvetica, "微软雅黑", "Microsoft YaHei",
		Arial, sans-serif;
	font-weight: bold;
}

/* 工具栏行 */
.c-toolbar {
	position: relative;
	margin-bottom: 10px;
}

/* 默认行高为20px，如果有按钮、输入框应使用行高30px */
.c-toolbar-30 {
	line-height: 30px;
}

.c-toolbar .btn-group+.btn-group {
	margin-left: 0; /* override */
}

/* 无样式按钮 */
.c-plain-btn {
	display: inline;
	margin-right: 20px;
	cursor: pointer;
}

/* 3.表单 */
.c-form {
	margin-bottom: 0; /* override */
	border: 1px solid #d6d6d4;
	padding: 10px 25px;
	background-color: white;
}

.c-form-noborder {
	border: 0 none;
}

.c-modal-window .c-form {
	border: 0 none;
	padding: 0 30px;
}

.c-form-legend {
	font-weight: normal;
}

.otu_gallery_wrap {
	text-align: center;
}