html, body {
  height: 100%;
  min-height: 100%;
  font-family: "微软雅黑", "宋体", Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "微软雅黑", "宋体", Verdana, Geneva, sans-serif;
}

td {
  vertical-align: middle !important;
}

sup {
  color: #f00;
}

.control-label {
  padding-left: 6px;
}

.nav-pills li {
  padding-top: 8px;
}

/* 页脚 */
.page-wrapper-footer {
  height: 50px;
  max-width: 100% !important;
  margin-top: 20px;
  background-color: #f5f5f5;
  border: #ddd thin solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 20px;
}
.page-wrapper-footer .credit {
  margin: 15px 0;
}

.btn-fix-form {
  margin-top: 2px;
  margin-left: -15px;
}
