/* 导航固定在顶部的fix */
body {
	padding-top: 50px;
}

/* logo */
#framework_header .navbar-brand {
	padding: 4px 14px 6px; /* override */
}

#framework_logo {
	width: 40px;
	height: 40px;
	background: url(../private/styles/default/logo/logo_40_40.png) no-repeat
		0 0;
	float: left;
}

#framework_brand {
	margin-left: 14px;
	line-height: 40px; /* 50 - 4 - 6 */
	color: white;
	font-size: 24px;
	font-weight: bold;
	float: left;
}

/* 查询 */
#framework_search_form {
	margin-right: 9px; /* 24 - 15 */
	width: 213px !important; /* 193 + 15 * 2 */
}

/* 工具栏 */
#framework_tools>li>a {
	padding-left: 0; /* override */
}

#framework_logout {
	padding-right: 0; /* override */
}

/* 面包屑 */
#framework_breadcrumb {
	margin-bottom: 0; /* override */
}