/*!
 * 主框架样式
 * @author Jiangwei Xu
 */

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "微软雅黑", "宋体", Verdana, Geneva, sans-serif;
  padding-top: 50px;
}

/* 页脚 */
.page-wrapper-footer {
  height: 40px;
}
.page-wrapper-footer .credit {
  margin: 10px 0;
}

.user-menu {
  padding-left: 40px !important;
  background: url(../img/user.png) no-repeat;
  background-position: 6px 9px;
}

/* 主页面结构封装 */
.page-wrapper > .row {
  margin-left: 0px;
  margin-right: 0px;
}
.page-wrapper .page-col {
  padding-left: 0px;
  padding-right: 0px;
}
@media(max-width:767px) {
  .page-wrapper {
    padding: 0;
    margin: 0;
	width: 100%;
  }
}
@media(min-width:768px) {
  .page-wrapper {
    padding: 0;
    margin: 0;
	width: 100%;
	max-width: 800px;
  }
}
@media(min-width:992px) {
  .page-wrapper {
    left: 0;
    right: 0;
    width: 100%;
	max-width: 1024px !important;
    padding: 0;
    margin: 0;
  }
}
@media(min-width:1200px) {
  .container {
    max-width: 1920px;
  }

  .page-wrapper {
    left: 0;
    right: 0;
    padding: 0;
    width: 100%;
    max-width: 1920px !important;
    margin: 0 0 -40px 0;
  }
}
.page-wrapper .page-nav a {
  border-radius: 0 0 0 0 !important;
}
.page-wrapper .page-nav span {
  margin-top: 9px;
  margin-left: 0px;
  padding-left: 0px;
}
.page-col > .breadcrumb {
  border-radius: 0 0 0 0 !important;
}

/* 侧边栏 */
.sidebar-nav {
  margin: 0 auto 0;
  padding: 0;
  height: 100%;
  width: 100% !important;
}
.sidebar-nav-menu {
  border-radius: 0px;
}
.sidebar-nav-menu .popover {
  min-width: 200px;
  max-width: 360px !important;
  padding: 0;
  margin: 0;
  border-radius: 0 0 0 0;
  background-color: #0081c2;
  border-color: #0081c2;
}
.sidebar-nav-menu .popover-content {
  padding: 0;
  margin: 0;
}
.sidebar-nav-menu a {
  border-radius: 0px !important;
}

/* 切换侧边栏导航按钮 */
#toggle_nav {
  font-size: 24px;
  margin:11px 15px 10px;
  padding:0;
}
