/* 演示模块样式表 */

.dhc-banner-container {
  text-align: center;
  left: auto;
  right: auto;
}

.dhc-banner-container img {
  width: 100%;
}
@media(min-width:992px) {
  .dhc-banner-container img {
    width: 92%;
  }
}

.dhc-banner {
  border-radius: 12px 12px 12px 12px;
}
