<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="project-content-detail">
		<div class="project-content-switcher">
			<div class="project-content-switcher-item project-content-switcher-bp project-content-switcher-item-active">
				<div class="project-content-switcher-graph"></div>
				<div class="project-content-switcher-text">
					(<span class="project-content-switcher-count">0</span>)
				</div>
			</div>
			<div class="project-content-switcher-item project-content-switcher-page">
				<div class="project-content-switcher-graph"></div>
				<div class="project-content-switcher-text">
					(<span class="project-content-switcher-count">0</span>)
				</div>
			</div>
			<div class="project-content-switcher-item project-content-switcher-report">
				<div class="project-content-switcher-graph"></div>
				<div class="project-content-switcher-text">
					(<span class="project-content-switcher-count">0</span>)
				</div>
			</div>
		</div>
	</div>
</body>
</html>