<?xml version="1.0" encoding="UTF-8"?>
<!--
Yi Framework

Copyright (c) 2013,2014 DHC Software Research Department
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>Welcome to Yi web engine</display-name>
	<description>Welcome to Yi web engine</description>

	<!-- 引擎默认监听器 -->
	<listener>
		<listener-class>
			yi.container.tomcat.TomcatServletContextListener
		</listener-class>
	</listener>

</web-app>
